name: Main workflow

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

        include:
          - os: ubuntu-latest
            buildConfiguration: "Release"

          - os: windows-latest
            buildConfiguration: "TestWindows"

          - os: macos-latest
            buildConfiguration: "Release"

    steps:
      - uses: actions/checkout@v3
      - name: Setup dotnet 6.0.x
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "6.0.x"

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build --configuration ${{ matrix.buildConfiguration }}

      - name: test
        run: dotnet test --configuration ${{ matrix.buildConfiguration }}

  check_licenses:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup dotnet 6.0.x
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "6.0.x"

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet publish ./src/NuGetUtility/NuGetUtility.csproj --configuration Release -o ./release

      - name: check
        run: dotnet ./release NuGetUtility.dll -i ./NuGetUtility.sln -t -a ./.github/workflows/assets/allowedLicenses.json
